<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
  </head>
  <body>
    {% extends "base.html" %} {% load static %} {% block content %}
    <h1 class="text-center">Events</h1>
    <div class="row">
      {% for event in events %}
      <div class="col-md-4">
        <div class="card mb-2 text-white bg-{{event.event_category}} text-center">
          <!-- <img class="card-img-top" src="{% static project.image %}" /> -->
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.shrt_text }}</p>
            
            <a href="/events/{{ event.id }}/" class="btn btn-dark mt-3">
              Read More
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    {% endblock %}
  </body>
</html>
