<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="text-center">
    {% extends "base.html" %} {% load static %} {% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{event.title}}</h1>
        <p class="lead">{{event.description}}</p>
        <p class="lead">
          <a href="/events" class="btn btn-lg btn-secondary">All Events</a>
        </p>
      </main>
    </div>
    {% endblock %}
  </body>
</html>
